@model TravelBlogWebApp.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LikesNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LikesNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Blog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Blog.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<hr />

<h4>Add a Section</h4>
@using (Html.BeginForm("AddSection", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("postId", Model.Id)

    <div class="form-group">
        @Html.Label("Title")
        @Html.TextBox("title", null, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("Content")
        @Html.TextArea("content", null, new { @class = "form-control", rows = "4" })
    </div>

    <div class="form-group">
        @Html.Label("Image")
        @Html.TextBox("image", null, new { type = "file", @class = "form-control-file" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}

<h4>Add a Comment</h4>
@using (Html.BeginForm("AddComment", "Post", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("postId", Model.Id)

    <div class="form-group">
        @Html.TextArea("content", null, new { @class = "form-control", rows = "4" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}
