@model IEnumerable<TravelBlogWebApp.Models.Post>


<style>
    .card {
        border: none;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }

        .card:hover {
            transform: translateY(-5px);
        }

    .card-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .card-text {
        font-size: 14px;
        color: #555;
    }

    .btn-group {
        margin-top: 15px;
    }

    .btn-primary,
    .btn-secondary,
    .btn-danger {
        margin-right: 5px;
    }
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">DateTime: @item.DateTime</p>
                    <p class="card-text">Likes: @item.LikesNumber</p>
                    <p class="card-text">Blog ID: @item.BlogId</p>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="@Url.Action("Edit", new { id = item.Id })">Edit</a>
                        <a class="btn btn-secondary" href="@Url.Action("Details", new { id = item.Id })">Details</a>
                        <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.Id })">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
